{% extends 'base.html.twig' %}

{% block title %} List Products - {% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>Listando produtos</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('register_product') }}" class="btn btn-sm btn-primary pull-right">
                <i class="fa fa-plus"></i>Adicionar produto
            </a>
        </div>
    </div>
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th>Cod.</th>
                <th>Name</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <th>{{ product.id }}</th>
                <th>{{ product.name }}</th>
                <th>R$ {{ product.price|number_format(2, ",", ".") }}</th>
                <th>
                    <a href="{{ path('view_product', {"id": product.id}) }}" class="btn btn-sm btn-warning"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('edit_product', {"id": product.id}) }}" class="btn btn-sm btn-success"><i class="fa fa-pencil"></i></a>
                    <a href="{{ path('delete_product', {"id": product.id}) }}" class="btn btn-sm btn-danger bt_delete_product"><i class="fa fa-trash"></i></a>
                </th>
            </tr>
            {%  endfor %}

        <script type="text/javascript">
            $(document).ready(function(){
                $(".bt_delete_product").click(function(ev){
                    ev.preventDefault();

                    var url = $(this).prop("href");
                    if (confirm("Deseja realmente excluir o product?")){
                        window.location=url;
                    }

                });
            });
        </script>

        </tbody>
    </table>
{% endblock %}
